<div class="card registration-card">
    <h5 class="card-header bg-success">Registration Successful</h5>
    <div class="card-body">
      <p class="card-text">You have now successfully registered. Please verify your email address by clicking the link provided link in the verification mail sent to your email address: <span class="font-weight-bold">{{email}}</span>. Once verified please click on below button to login.</p>
      <a routerLink="/login" routerLinkActive="router-link-active"  class="btn btn-primary">Login</a>
    </div>
  </div>