<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Shopping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item order-lg-last order-0">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login/Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 position-relative">
      <label class="text-white bg-dark mr-sm-2" *ngIf="getName()">Hello</label>
      <div class="dropdown" *ngIf="getName()">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{getName()}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="home/profile">My Profile</a>
          <a class="dropdown-item" routerLink="home/orders">My Orders</a>
          <a class="dropdown-item" routerLink="home/wishlist">My Wishlist</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="home/aboutus">About Us</a>
          <a class="dropdown-item" routerLink="home/logout">Logout</a>
        </div>
      </div>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer fixed-bottom font-small text-white bg-dark">
  <div class="footer-copyright text-center py-2">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Shopping.com</a>
  </div>
</footer>

