<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<div class="register-container">
    <section>				
        <div id="container_demo" >
            <div id="wrapper">                
                <div id="register" class="animate form">
                    <form  action="mysuperscript.php" autocomplete="on">
                        <h1> Sign up </h1>
                        <div class="row">
                            <div class="col">
                                <p> 
                                    <label for="fullnamesignup" class="fname" >Your Full Name</label>
                                    <input id="fullnamesignup" name="fullnamesignup" required="required" type="text" placeholder="my super name" />
                                </p>
                                <p> 
                                    <label for="usernamesignup" class="uname" >Your username</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail"  > Your email</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                                </p>
                            </div>
                            <div class="col">
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" >Your password</label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" >Please confirm your password</label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="mobilecodesignup" class="mobile" >Mobile</label>
                                    <input id="mobilecodesignup" name="mobilecodesignup" required="required" type="text" placeholder="+91"/>
                                    <input id="mobilesignup" name="mobilesignup" required="required" type="number" placeholder="1234567890"/>
                                </p>
                            </div>
                        </div>
                        <p class="signin button"> 
                            <input type="submit" value="Sign up"/> 
                        </p>
                        <p class="change_link">  
                            Already a member ?
                            <a routerLink="/login" routerLinkActive="active" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>                
            </div>
        </div>  
    </section>
</div>